.env
.venv
.langgraph_api
# 忽略所有層級的 __pycache__ 目錄
**/__pycache__/
# 忽略所有 .pyc 文件（可選，但建議保留）
*.pyc
saved_mp3/*
save_images/*
pause_cache/*
server.log
content/【震撼揭秘】2025年吉薩金字塔地下巨大結構發現/mp3 result.txt
test1_fixed.mp4
test2_fixed.mp4
test.py
list.txt
info.txt
